*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../img/graveyardtilesetnew/png/BG.png");
    background-size: contain;
}
#player{
    background-image: url('../img/adventure_girl/png/Idle\ \(1\).png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 130px;
    position: absolute;
    bottom: 750px;
}
#brown{
    background-image: url("../img/graveyardtilesetnew/png/Tiles/Tile (15).png");
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0rem;
    right: 0rem;
    height: 150px;
}
.turn{
    transform: rotateY(180deg);
}
#float {
    background-image: url("../img/cloud.webp");
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    z-index: 999;
    top: 200;
    animation: float-wave;
    animation-duration: 9s;
    animation-iteration-count: infinite;
  }
  
  #cloud-2 {
    background-image: url("https://media.baamboozle.com/uploads/images/104084/1620967609_18449_url.gif");
    background-repeat: no-repeat;
    position: absolute;
    width: 600px;
    height: 400px;
    z-index: 9;
    top: 100;
    animation: float-wave-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  #tree-img {
    padding-top: 550px;
    padding-left: 1000px;
  }
  
  @keyframes float-wave {
    0% {
      left: 0;
    }
    50% {
      left: 50;
    }
    100% {
      left: 100vw;
    }
  }
  @keyframes float-wave-1 {
    0% {
      left: 0;
    }
    50% {
      left: 20;
    }
    100% {
      left: 100vw;
    }
  }
  